<meta charset="UTF-8">
<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%">
  <mat-card style="width: 60%; margin-left: auto; margin-right: auto">
    <mat-card *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(44,44,44,0.5); z-index: 30">
      <h1 style="position: absolute; margin-top: 1.5%; color: #ffffff; text-shadow: 2px 2px 0 #000000;">{{uploadPercentages | async}} %</h1>
      <mat-progress-spinner [value]="uploadPercentages | async"></mat-progress-spinner>
    </mat-card>

    <mat-card-header style="width: 90%; margin-left: auto;margin-right: auto">
      <mat-card-title><img mat-card-sm-image="" class="example-header-image"
                           src="{{profilpic}}" alt="tile.profilkep">
      </mat-card-title>
      <mat-card-title>Szia {{nickname}}!</mat-card-title>
      <mat-card-subtitle>
        <h2>Mi jár a fejedben?</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="width: 90%; margin-left: auto;margin-right: auto">
      <form [formGroup]="postForm" id="postform" (ngSubmit)="onSubmit()" fxLayout="column"
            fxLayoutAlign="center center">
        <mat-form-field appearance="outline" style="width: 100%">
          <input #upload (change)="uploadbar.onchange; onChange($event)" hidden type="file" formControlName="file" accept=".jpeg,.jpg,.png"/>
          <input #uploadbar (click)="upload.click()" matInput placeholder="Kép feltöltése (opcionális)"
                 [value]="upload.value"/>
          <mat-icon (click)="upload.click()" matSuffix class="mr-2">cloud_upload</mat-icon>
          <mat-hint class="mat-form-field-hint-end">JPEG / JPG / PNG</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%; height: 20%">
          <mat-label>Írd le, mire gondolsz!</mat-label>
          <textarea matInput formControlName="text" required rows="10"></textarea>
        </mat-form-field>
        <span style="width: 100%" fxLayout fxLayoutGap="2%">
          <button mat-raised-button type="submit" color="primary">Közzétesz</button>
          <button mat-raised-button type="reset" color="accent">Mégse</button>
        </span>
      </form>
    </mat-card-content>

  </mat-card>
</div>

