<meta charset="UTF-8">
<div id="otppage" fxLayout="column" fxLayoutAlign="center start">
  <mat-card [class.mat-elevation-z12]="true" id="matcardkont">
    <mat-card-content>
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      <button mat-raised-button color="primary" class="buttons" id="belepo" [class.mat-elevation-z5]="true" (click)="handleClick()">Belépés</button>
      <button mat-raised-button color="warn" class="buttons" [class.mat-elevation-z4]="true" (click)="goToLogin()">Vissza</button>
    </mat-card-content>
  </mat-card>
</div>
