.notfoundmesseage{
  text-align: center;
  vertical-align: middle;
  margin-top: 15%;
}
#p1{
  font-size: 30px;
  line-height: 1.2;
}
#p2{
  font-size: 15px;
}
#sadcat{
  width: 300px;
  height: auto;
}
