<meta charset="UTF-8">
<ng-template ngFor let-user [ngForOf]="users" let-i="index">
  <mat-card class="example-card" style="margin-top: 1%; margin-bottom: 1%">
    <mat-card-header style="width: 90%; margin-left: auto;margin-right: auto">
      <mat-card-title> <img mat-card-sm-image="" class="example-header-image" src="{{user.profileimageURL}}" alt="tile.profilkep"></mat-card-title>
      <mat-card-title>{{user.nev}}</mat-card-title>
      <mat-card-subtitle>Regisztrálás ideje: {{ (user.regdatum | customdate)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions style="width: 90%; margin-left: auto;margin-right: auto">
      <button mat-raised-button *ngIf="ismerosok.has(user.id)" (click)="kikovetes(user.id)" color="warn">Kikövetés</button>
      <button mat-raised-button *ngIf="!ismerosok.has(user.id)" (click)="bekovetes(user.id)" color="primary">Bekövetés</button>
    </mat-card-actions>

  </mat-card>
  <mat-divider></mat-divider>
</ng-template>
