<meta charset="UTF-8">
<div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 1%">
  <mat-card fxLayoutAlign="space-evenly stretch">
    <mat-card-header fxShow.lt-sm="false" fxShow fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <img mat-card-lg-image class="example-header-image" src="{{profilpic}}" alt="tile.profilkep" style="margin-right: 4%" loading="lazy">
    </mat-card-header>
    <mat-card-content>
      <mat-list fxLayout="column" fxLayoutAlign="start center">
        <img fxShow.lt-sm="true" fxShow="false" mat-card-lg-image class="example-header-image" src="{{profilpic}}" alt="tile.profilkep" style="margin-right: 4%" loading="lazy">
        <div fxLayout="row" fxShow.lt-sm="false" fxShow>
          <div>
            <mat-list-item>{{nickname}}</mat-list-item>
            <mat-list-item>{{email}}</mat-list-item>
          </div>
          <div>
            <mat-list-item>Regisztrált: {{regdatum | customdate}}</mat-list-item>
            <mat-list-item>Jogosultság: {{role}}</mat-list-item>
          </div>
        </div>
        <div fxShow="false" fxShow.lt-sm>
          <mat-list-item>{{nickname}}</mat-list-item>
          <mat-list-item>{{email}}</mat-list-item>
          <mat-list-item>Regisztrált: {{regdatum | customdate}}</mat-list-item>
          <mat-list-item>Jogosultság: {{role}}</mat-list-item>
        </div>
        <mat-chip-list fxLayout="row" fxLayoutAlign="space-between" style="margin-left: 3%; font-size: 10px">
          <mat-chip color="primary" selected (click) = "goToKovetesek()">Követések: {{kovetok.length}}</mat-chip>
          <mat-chip color="primary" selected >Követők: {{kovetokszama}}</mat-chip>
          <mat-chip color="accent" *ngIf="!verified" (click)="sendVerificationMail()">E-mail megerősítése</mat-chip>
          <mat-chip color="accent" *ngIf="verified" selected (click)="goToProfileEdit()" >Profil szerkesztése</mat-chip>
        </mat-chip-list>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <hr>
  <ng-template ngFor let-post [ngForOf]="posts" let-i="index">
    <mat-card class="example-card" style="margin-top: 1%; margin-bottom: 1%">


      <mat-card-header style="width: 90%; margin-left: auto;margin-right: auto">

        <mat-card-title> <img mat-card-sm-image="" class="example-header-image" src="{{profilkepek.get(post.postID)}}" alt="profilkep" loading="lazy"></mat-card-title>
        <mat-card-title>{{post.Posztolo}}</mat-card-title>
        <mat-card-subtitle>{{ (post.idopont | customdate)}}</mat-card-subtitle>
        <button mat-raised-button (click)="didClickDelete(post)" color="warn" style="position: absolute; float: right; top: 25px; right: 25px;">Törlés</button>
      </mat-card-header>

      <img style="background-color: #d4d4d4;width: 90%; margin-left: auto;margin-right: auto" mat-card-image src="{{post.kepId}}" alt="tile.kep" loading="lazy">
      <mat-card-content style="width: 90%; margin-left: auto;margin-right: auto">
        <p>
          {{post.Poszt}}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
