<meta charset="UTF-8">
<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 1%">
  <mat-card fxLayoutAlign="space-evenly stretch">
    <mat-card-header fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <img mat-card-lg-image class="example-header-image" src="{{profilpic}}" alt="tile.profilkep" style="margin-right: 4%">
    </mat-card-header>
    <mat-card-content>
      <mat-list fxLayout="column" dense>
        <mat-list-item>{{nickname}}</mat-list-item>
        <mat-list-item>{{email}}</mat-list-item>
        <mat-list-item>Regisztrált: {{regdatum | customdate}}</mat-list-item>
        <mat-chip-list style="margin-left: 10%; font-size: 10px">
          <mat-chip color="primary" selected (click) = "goToKovetesek()">Követések: {{kovetok.length}}</mat-chip>
          <mat-chip *ngIf="!verified" (click)="sendVerificationMail()">E-mail megerősítése</mat-chip>
        </mat-chip-list>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <hr>
  <mat-grid-list fxShow.lt-xl="false" fxShow cols="4" rowHeight="1:1" gutterSize="2em" style="width: 65%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list fxShow.lg fxShow.lt-lg="false" fxShow="false" cols="4" rowHeight="1:1" gutterSize="2em" style="width: 67%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list fxShow.lt-lg fxShow.lt-md="false" fxShow="false" cols="4" rowHeight="1:1" gutterSize="2em" style="width: 80%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list fxShow.lt-md fxShow.lt-sm="false" fxShow="false" cols="2" rowHeight="1:1" gutterSize="2em" style="width: 70%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list fxShow.lt-sm fxShow="false" cols="2" rowHeight="1:1" gutterSize="1em" style="width: 70%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>

