<div id="regpage">
  <mat-card id="title" [class.mat-elevation-z12]="true">
    <mat-card-content>
      <h1>Regisztráld a fiókod!</h1>
    </mat-card-content>
  </mat-card>
  <mat-card [class.mat-elevation-z12]="true" id="matcardkont">
    <mat-card-content>

      <form [formGroup]="regForm" id="regform" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput type="text" placeholder="Felhasználónév" formControlName="nickname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Jelszó" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Jelszó mégegyszer" formControlName="rePassword" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="buttons" [class.mat-elevation-z5]="true">
          Regisztráció
        </button>

        <button mat-raised-button color="primary" class="buttons" [class.mat-elevation-z5]="true" (click)="goBack()">
          Vissza
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
