<meta charset="UTF-8">
<div id="regpage" style="justify-content:space-evenly">
  <mat-card id="title" [class.mat-elevation-z12]="true">
   <mat-card-content>
     <h1>Regisztráld a fiókod!</h1>
   </mat-card-content>
  </mat-card>
  <mat-card [class.mat-elevation-z12]="true" id="matcardkont" style="justify-content:space-evenly">
    <mat-card *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(44,44,44,0.5); z-index: 30">
      <mat-progress-spinner [value]="uploadPercentage"></mat-progress-spinner>
    </mat-card>
    <mat-card-content>
      <form [formGroup]="regForm" id="regform" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput type="text" placeholder="Felhasználónév" formControlName="nickname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Jelszó" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Jelszó mégegyszer" formControlName="rePassword" required>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <input #upload (change)="uploadbar.onchange; onChange($event)" hidden type="file" formControlName="file" accept=".jpeg,.jpg,.png"/>
          <input #uploadbar (click)="upload.click()" matInput placeholder="Kép feltöltése (opcionális)"
                 [value]="upload.value"/>
          <mat-icon (click)="upload.click()" matSuffix class="mr-2">cloud_upload</mat-icon>
          <mat-hint class="mat-form-field-hint-end">JPEG / JPG / PNG</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="buttons" [class.mat-elevation-z5]="true" style="justify-content:space-evenly">Regisztráció</button>

        <button mat-raised-button color="primary" class="buttons" [class.mat-elevation-z5]="true" (click)="goBack()" style="justify-content:space-evenly">Vissza</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
