#search{
  background: none;
  border: transparent;
  outline: transparent;
  transition: none;
  margin-left: 2%;
  width: 97%;
  font-size: 4em;
}

#searchbar{
  width: 100%;
  border: solid #2c2c2c 1px;
  background-color: lightgray;
  border-radius: 64px;
}

mat-toolbar{
  position: relative;
  z-index: 30;
}

mat-sidenav-container{
  height: 100%;
  margin-top: -64px;
  padding-top: 64px;
  background-color: #f8f7eb;
}

mat-sidenav{
  padding-top: 64px;
}

mat-sidenav-content{
  margin-left: 56px;
}

mat-list-item{
  border-radius: 5px;
  border-bottom: solid 5px rgba(255, 0, 0, 0);
}

mat-list-item:hover{
  background-color: lightgray;
  border-bottom: solid 5px #b7e079;
  cursor: pointer;
}

#toolbaricon:hover{
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}
