mat-sidenav-container{
  height: 100%;
  background-color: #f8f7eb;
}

mat-sidenav-content{
  margin-left: 56px;
}

mat-list-item{
  border-radius: 5px;
  border-bottom: solid 3px rgba(255, 0, 0, 0);
}

mat-list-item:hover{
  background-color: lightgray;
  border-bottom: solid 3px #b7e079;
}
