<meta charset="UTF-8">
<div fxLayout="row" fxLayoutAlign="center start" style="margin-top: 1%">
  <mat-card fxLayoutAlign="space-evenly stretch">
    <mat-card-content>
      <mat-list fxLayout="column" fxLayoutAlign="start center" dense>
        <img mat-card-lg-image class="example-header-image" src="{{profilpic}}" alt="tile.profilkep" style="margin-right: 4%">
        <mat-list-item>{{nickname}}</mat-list-item>
        <mat-list-item>{{email}}</mat-list-item>
      </mat-list>
      <mat-list fxLayout="column" fxLayoutAlign="start center" dense>

      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
