#page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#title{
  width: 30%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

#form{
  //justify-content: flex-start;
  width: 60%;
  margin: 5% auto 0 auto;
  border-radius: 10px;
}
