<div id="page">
  <mat-card id="title" [class.mat-elevation-z12]="true">
    <mat-card-content>
      <h1>Miben segíthetünk?</h1>
    </mat-card-content>
  </mat-card>

  <mat-card id="form" [class.mat-elevation-z12]="true">
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Személyes adatok</ng-template>
            <mat-form-field>
              <input matInput placeholder="Vezetéknév" formControlName="firstname" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Keresztnév" formControlName="surname" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email-cím" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telefonszám" formControlName="phone">
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
