<meta charset="UTF-8">
<div id="adminpage" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayout="column" id="matcardcont" [class.mat-elevation-z8]="true" style="margin-top: 2%; margin-bottom: 2% ">
    <mat-card-header>
      <h1>Felhasználók listája</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-list fxLayoutAlign="center start" *ngFor="let users of this.userek">
        <mat-list-item>
          <mat-icon *ngIf="users.role === 'admin'; else notAdmin" style="color: yellow">perm_identity</mat-icon>
          <ng-template #notAdmin>
            <mat-icon>perm_identity</mat-icon>
          </ng-template>
          {{users.nev}}
          <mat-icon style="margin-left: 2%" *ngIf="users.role !== 'admin' && !users.isBanned else banned" (click)="banUser(users)">error</mat-icon>
          <ng-template #banned>
            <mat-icon style="margin-left: 2%" *ngIf="users.role !== 'admin' && users.isBanned" (click)="unBanUser(users)">done_outline</mat-icon>
          </ng-template>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
