<mat-toolbar style="top: 0;
                    position: fixed;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    z-index: 20">
  <button mat-button style="width: 100%; height: 100%">
    <h1 style="align-self: center; justify-self: center">Felső szöveg</h1>
  </button>
  <button mat-button style="height: 100%">
    <mat-icon>not_interested</mat-icon>
  </button>
</mat-toolbar>

<div id="fillad">
  <button mat-button style="width: 100%; height: 100%; position: relative; z-index: 2">
    <h1 style="align-self: center; justify-self: center">nagy reklam</h1>
  </button>
  <div style="position: absolute; z-index: 10">
    <button mat-button>
      <mat-icon>not_interested</mat-icon>
    </button>
  </div>
</div>

<mat-toolbar style="bottom:0;
                    position: fixed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 20">
  <button mat-button style="width: 100%; height: 100%">
    <h1 style="align-self: center; justify-self: center">Alsó szöveg</h1>
  </button>
  <button mat-button style="height: 100%">
    <mat-icon>not_interested</mat-icon>
  </button>
</mat-toolbar>
